html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #000 url("../img/ao.gif");
    font-family: "Coda", cursive;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/*
 * Deck
 */

.deck {
	width: 660px;
    min-height: 680px;
    background: #c1c1c1;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(128, 132, 136, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
	height: 125px;
    width: 125px;
    background: linear-gradient(to bottom right, #30333b, #4c4c4c);
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: all 0.5s;
}

.deck .card.show {
    transform: rotateY(-180deg);
    background: #1599ca;
    cursor: default;
    font-size: 33px;
}


.deck .card.match {
    cursor: default;
    background: #5fbf44;
    font-size: 33px;
}

.deck .card.wrong{
	cursor: default;
	background-color: #e24a4a;
}

/*
 * Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.stars{
	color: #f1f100;
}

/*
 * Footer
 */

footer{
	text-align: center;
	padding: 10px;
	color: black;
	background-color: rgb(255, 255, 255, 0.4);
}